# .env
LAB_ROOT_DIRECTORY=~/lab
LAB_GIT_USER_NAME="Kate Simon"
PATH_PYTHON3=/Users/{user}/.pyenv/shims
PATH_RUBY=/Users/{user}/.rbenv/shims
PATH_LOCAL_BIN=/Users/{user}/.local/bin
PATH_NVM_NODE_BIN=/Users/{user}/.nvm/versions/node/v24.19.0/bin
PATH_HOMEBREW_BIN=/opt/homebrew/bin
PATH_HOMEBREW_SBIN=/opt/homebrew/sbin